@page
@model IndexModel

<h1>🚀 Azure DevOps CI/CD Success</h1>
<p>Application deployed using:</p>

<ul>
    <li>Azure DevOps</li>
    <li>Self-Hosted Windows Agent</li>
    <li>IIS Deployment</li>
</ul>